@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    display: flex;
    border: 1px solid black;
}

section p {
    font-size: 18px;
    max-width: 600px;
}

section .title {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .title .line-dot {
    display: flex;
    gap: 10px;
}

section .title .line-dot div {
    background-color: #F06A22;
}

section .title h3 {
    font-size: 15px;
}

section .title p {
    text-align: center;
}

/* Conteneur global */
body {
    background-color: white;
    margin: 0 !important;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

a,
p,
li,
label, input {
    font-family: 'Nunito Sans', sans-serif;
}

.hero {
    position: relative;
    height: 760px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.global-btn, .global-btn-2 {
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    background: linear-gradient(to right, #E85603 31%, #F39C12 100%);
    color: white !important;
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.global-btn:hover, .global-btn-2:hover {
    gap: 35px;
}

.global-btn img, .global-btn-2 img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
}

.global-btn img {
    background-color: white;
    border-radius: 15px;
    height: 25px;
    width: 25px;

}

.global-btn-2 {
    width: 150px;
}

#scrollToTopBtn {
    display: none;
    /* Masqué par défaut */
    position: fixed;
    /* Fixé en position */
    bottom: 20px;
    /* Distance du bas */
    right: 30px;
    /* Distance de la droite */
    z-index: 99;
    /* Assurez-vous qu'il s'affiche par-dessus tout */
    border: none;
    /* Pas de bordure */
    outline: none;
    /* Pas de contour */
    background-color: #555;
    /* Couleur de fond */
    color: white;
    /* Couleur du texte */
    cursor: pointer;
    /* Curseur pointeur */
    padding: 15px;
    /* Espacement */
    border-radius: 10px;
    /* Bords arrondis */
    font-size: 18px;
    /* Taille du texte */
}

#scrollToTopBtn:hover {
    background-color: #333;
    /* Couleur de fond au survol */
}