<footer>
   <div class="footer-top">
        <div class="footer-top-left">
            <img src="assets/icons/logo.svg" alt="Logo GTC" id="logo">
            <p>Faire de vos projets une réalité </p>
        </div>
        <div class="footer-top-right">
            <div class="div-1">
                <a href="about.html">A propos</a>
                <a href="services.html">Services</a>
                <a href="projects.html">Projets</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="adresse">
                <p>09 BP 652 Ouagadougou, Secteur 23, Rue 14/32</p>
                <img src="assets/icons/Location.svg" alt="">
            </div>
            <div class="adresse">
                <p>jb.wema@gmail.com</p>
                <img src="assets/icons/Email.svg" alt="">
            </div>
        </div>
   </div>
   <div class="divider"></div>
   <div class="footer-bottom">
        <div class="socials">
            <a href=""><img src="assets/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="assets/icons/Facebook.svg" alt=""></a>
            <a href=""><img src="assets/icons/X.svg" alt=""></a>
        </div>
        <p>©2025 Global Trading Construction. All Rights Reserved</p>
        <a href="">Terms & privacy</a>
   </div>
</footer>