<div id="menu">
    <a href="index.html" class="logo-gtc">
        <img src="assets/icons/logo.svg" alt="Logo GTC" id="logo">
    </a>
    <div id="menu-links">
        <a class="about-a" href="about.html" style="width: 150px;">A propos</a>
        <div class="dropdown-menu">
            <a href="about.html">
                Services
                <img src="assets/icons/Expand.svg" alt="arrow">
            </a>
            <div>
                <a href="services.html?service=Livraison">Livraison</a>
                <a href="services.html?service=Livraison">Livraison</a>
                <a href="services.html?service=Livraison">Livraison</a>
            </div>
        </div>
        <div class="dropdown-menu">
            <a href="projects.html">
                Projets
                <img src="assets/icons/Expand.svg" alt="arrow">
            </a>
            <div>
                <a href="projects.html?projet=Livraison">Livraison</a>
                <a href="projects.html?projet=Livraison">Livraison</a>
                <a href="projects.html?projet=Livraison">Livraison</a>
            </div>
        </div>
    </div>
    <a href="contact.html" class="global-btn">
        Contact
        <img src="assets/icons/Up-Right.svg" alt="arrow">
    </a>
</div>